<template>
  <v-container>

    <v-row>
      <v-col cols="3">
        <v-form
            ref="form"
            v-model="valid"
            lazy-validation
            @submit.prevent="submit"
        >
          <v-container>
            <v-row>
              <v-col v-if="!this.$route.query.artId" class="formStyle" cols="12" md="12">
                <v-file-input
                    counter
                    show-size
                    v-model="model.image"
                    accept="image/png"
                    label="Choose Your Art"
                    :rules="fileRule"
                ></v-file-input>
              </v-col>
              <v-col class="formStyle" cols="12" md="12">
                <v-text-field
                    type="text"
                    :rules="titleRule"
                    v-model="model.title"
                    label="Input Your Art Title"
                ></v-text-field>
              </v-col>
              <v-col class="formStyle" cols="12" md="12">
                <v-select
                    v-model="model.category.id"
                    :items="categories"
                    item-text="name"
                    item-value="id"
                    :rules="categoriesRules"
                    label="Category"
                    required
                >
                </v-select>
              </v-col>
              <v-col class="formStyle" cols="12" md="12">
                <h3>Back Ground Color</h3>
                <v-row style="margin-top: 10px">
                  <v-btn-toggle
                      v-model="toggle_exclusive1"
                      mandatory

                  >
                    <v-btn @click="changeBackgroundColor('black')">Black
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn @click="changeBackgroundColor('white')">White</v-btn>
                  </v-btn-toggle>
                </v-row>
              </v-col>
              <v-col class="formStyle" cols="12" md="12">
                <h3>Art Size</h3>
                <v-row style="margin-top: 10px">
                  <v-btn-toggle
                      v-model="toggle_exclusive"
                      mandatory
                  >
                    <v-btn @click="changeSize('100%')">Full Size</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn @click="changeSize('50%')">50% Size</v-btn>
                  </v-btn-toggle>
                </v-row>
              </v-col>

            </v-row>
          </v-container>

          <v-col cols="2" md="3">
            <v-btn
                class="mr-4"
                color="success"
                type="submit"
                :disabled="!valid"
            >
              Submit
            </v-btn>
          </v-col>
        </v-form>
      </v-col>
      <v-col cols="9">
        <ArtPreview :height="height" :width="width" :backGroundColor="backGroundColor" :url="url"></ArtPreview>
      </v-col>
    </v-row>

  </v-container>
</template>

<script>
import ArtPreview from "@/components/ArtPreview";

export default {
  name: "EditArtWork",
  components: {ArtPreview},
  data: () => {
    return {
      valid: true,
      width: '100%',
      height: '100%',
      toggle_exclusive: 0,
      toggle_exclusive1: 1,
      backGroundColor: 'white',
      imagUrl: null,
      img: null,
      model: {
        image: null,
        title: '',
        category: {id: 1},
        color: 'transparent',
        width: '100%',
        height: '100%'
      },
      fileRule: [
        v => !!v || 'File Is Required',
        v => (v && v.size <= 2010000) || 'Art size should be less than or Equal 2 MB!'
      ],
      titleRule: [
        v => !!v || 'Title Is Required',
        v => (v && v.length <= 30) || 'Title must be less than 30 characters',
      ],
      categoriesRules: [
        v => !!v || 'Category Is Required'
      ],
      categories: [{id: 1, name: 'zaid'}]
    }
  },
  methods: {
    submit() {
      console.log(this.model);
      if (this.$refs.form.validate()) {
        const formData = new FormData();
        if (this.model.image) {
          formData.append('image', this.model.image);
        }
        formData.append('title', this.model.title);
        formData.append('backGroundColor', this.model.color);
        formData.append('width', this.model.width);
        formData.append('height', this.model.height);
        formData.append('categoryId', this.model.category.id);
        if (!this.$route.query.artId) {
          this.$store.state.artWorkService.post('', formData).then(res => {
            alert(res.data.message);
            this.$router.push('home')
          }).catch(e => {
            alert(e);
          })
        } else {
          this.$store.state.artWorkService.put(this.$route.query.artId, formData).then(() => {
            this.$router.push('home')
          }).catch(e => {
            alert(e);
          })
        }
      }
    },
    changeBackgroundColor(color) {
      this.backGroundColor = color;
      this.model.color = color;

    },
    changeSize(size) {
      this.width = size;
      this.height = size;
      this.model.width = size;
      this.model.height = size;
    }
  }
  , computed: {
    url() {
      if (!this.model.image) return this.imagUrl;
      return URL.createObjectURL(this.model.image);
    }
  },
  mounted() {
    this.$store.state.adminService.get('categories').then(res => {
      this.categories = res.data.data;
    })
    if (this.$route.query.artId) {
      this.$store.state.artWorkService.get(this.$route.query.artId).then(res => {
        const response = res.data.data
        this.model.width = response.width;
        this.model.height = response.height;
        this.width = response.width;
        this.height = response.height;
        this.model.color = response.backGroundColor;
        this.backGroundColor = response.backGroundColor;
        this.model.color === 'black' ? this.toggle_exclusive1 = 0 : this.toggle_exclusive1 = 1;
        this.model.width   === '100%' ? this.toggle_exclusive = 0 : this.toggle_exclusive = 1;
        this.model.category = {id: response.categoryId}
        this.model.title = response.title;
        this.imagUrl = response.media.image;
      })
    }
  },
}
</script>

<style scoped>
.formStyle {
  margin-top: 10px;
}


</style>
