<template>
  <v-dialog
      v-model="dialog"
      width="1200"
      persistent
  >
    <v-card>
      <v-container>

        <v-row>
          <v-col cols="4">
            <v-row>
              <v-col cols="4" style="line-height: 2">
                <h3>Artist Name:</h3>
              </v-col>
              <v-col>
                <h2>{{ model.artist_name }}</h2>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="4" style="line-height: 2">
                <h3>Art Title:</h3>
              </v-col>
              <v-col>
                <h2>{{ model.art_title }}</h2>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-btn
                    class="v-btn mr-4 "
                    color="primary"

                    @click="closeDialog()"
                >
                  close
                </v-btn>
              </v-col>
            </v-row>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="8">
            <ArtPreview :height="model.height" :url="model.url" :width="model.width" :backGroundColor="model.backGroundColor"></ArtPreview>
          </v-col>
        </v-row>

      </v-container>
    </v-card>

  </v-dialog>
</template>

<script>
import ArtPreview from "@/components/ArtPreview";

export default {
  name: "ViewArtWork",
  components: {ArtPreview},
  props: ['dialog','model'],
  data() {
    return {

    }
  },
  methods: {
    closeDialog() {
      this.$emit('closeDialog', false)
    }
  },
  mounted() {

  }
}
</script>

<style scoped>

</style>
