<template>
  <v-container>
    <v-row v-if="userType==='Artis'" justify="end">
      <v-btn @click="createArtWork()" class="v-btn mr-4" style="margin-top: 10px"
             color="primary">Upload Art
      </v-btn>
    </v-row>
    <div :key="index" v-for="(category,index) in categories">
      <v-row>
        <v-col cols="12"><h1>{{ category.categoryName }}</h1></v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-row>
            <v-col cols="2" md="4" :key="index2" v-for="(artWork,index2) in category.artsWork">
              <art-work @edit="editArtWork($event)"
                        @download="downloadArtWork($event)"
                        @view="viewArtWork($event)"
                        :artWork="artWork"/>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </div>
    <ViewArtWork :model="modelView" :dialog="dialog"  @closeDialog="closeDialog()"></ViewArtWork>
  </v-container>
</template>

<script>
import ArtWork from "@/components/ArtWork";
import ViewArtWork from "@/views/ArtWork/ViewArtWork";

export default {
  name: "HomePage",
  components: {
    ArtWork,
    ViewArtWork
  },
  data: () => ({
    dialog: false,
    artWorkId:null,
    categories: [],
    modelView: {
      url: '',
      artist_name: '',
      art_title: '',
      width: '',
      height:'',
      backGroundColor: ''

    }
  }),
  methods: {
    createArtWork() {
      this.$router.push('edit_art_work')
    },
    editArtWork(event) {
      this.$router.push({query: {'artId': event}, path: 'edit_art_work'})
    },
    downloadArtWork(event) {
      this.$store.state.artWorkService.get(`${event}/download`).then(res => {
       console.log(res.data.data.image);
        var a = document.createElement("a"); //Create <a>
        a.href =  res.data.data.image; //Image Base64 Goes here
        a.download = "Image.png"; //File name Here
        a.click();
      }).catch(error => {
        alert(error)
      })
    },
    viewArtWork(event) {
      this.$store.state.artWorkService.get(`${event}/view`).then(res=>{
        const response=res.data.data;
        this.modelView.url=process.env.VUE_APP_API_URL+response.media.fileName;
        this.modelView.art_title=response.title;
        this.modelView.artist_name=response.user.name;
        this.modelView.width=response.width;
        this.modelView.height=response.height;
        this.modelView.backGroundColor=response.backGroundColor;
        this.dialog = true;
      })
    },
    closeDialog() {
      this.dialog = false
    }
  },
  computed: {
    userType() {
      return this.$store.getters.userType
    }
  },
  mounted() {
    this.$store.state.artWorkService.get('').then(res=>{
      console.log(res.data.data);
      this.categories=res.data.data;
    }).catch(error=>{
      alert(error)
    })
  }
}
</script>

<style scoped>

</style>
