<template>
  <v-container>
    <div class="imageStyle d-flex flex-column justify-space-between align-center"
         :style="{'background-color': backGroundColor,'height':'550px'}">
      <div class="d-flex flex-column  justify-space-between align-center"
           :style="{width:'100%','height':height,'margin-top':height==='50%'?25*550/100+'px':'0'}">
        <v-img
            position="center center"
            contain
            :width="width"
            max-width="100%"
            max-height="100%"
            :src="url">
        </v-img>
      </div>
    </div>
  </v-container>
</template>

<script>
export default {
  name: "ArtPreview",
  props: ['backGroundColor', 'width', 'url', 'height']
}
</script>

<style scoped>
.imageStyle {
  width: 100%;
  height: 600px;
  border: solid black 3px;
}
</style>
