<template>
  <v-card
      class="mx-auto"
      width="300"

  >
    <div class="imageStyle d-flex flex-column justify-space-between align-center"
         :style="{'background-color': artWork.backGroundColor, 'height':250+'px'}">
    <v-img

        position="center"
        :width="artWork.width"
        :height="artWork.height"
        max-width="100%"
        max-height="100%"
        contain
        :src="this.$store.state.hostUrl+artWork.media.fileName"
    >
    </v-img>
    </div>

    <v-card-actions>
      <v-btn
          color="orange"
          text
          width="50%"
          @click="checkCanEdit()?edit():view()"
      >
        {{ checkCanEdit()? 'Edit' : 'View' }}
      </v-btn>
      <v-btn
          color="orange"
          text
          width="50%"
          @click="download"
      >
        Download
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: "ArtWork",
  props: ['artWork'],
  data() {
    return {}
  },
  methods: {
    checkCanEdit(){
      return (this.userType === 'Artis' && this.$store.state.user.id === this.artWork.userId);
    },
    edit() {
      this.$emit('edit', this.artWork.id);
    },
    view() {
      this.$emit('view', this.artWork.id);
    },
    download() {
      this.$emit('download', this.artWork.id);
    }
  },
  computed: {
    userType() {
      return this.$store.getters.userType
    }
  },
  mounted() {
    console.log(this.$store.state.hostUrl+this.artWork.media.fileName)
  }
}
</script>

<style scoped>

</style>
