<template>
  <div style="margin-top: 50px">
    <v-row justify="center">
      <v-col md="6">
        <v-btn class="btn"
               width="100%"
               color="#b0afaf"
               @click="changeRout"
        >
          Continues As Gust
        </v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "ContinuesAsGust",
  methods: {
    changeRout() {
      this.$router.push('/home');
    }
  }
}
</script>

<style scoped>

</style>
