<template>
  <v-app>
    <v-app-bar
        app
        style="background-color: #F84567"
        dark
    >
      <div class="d-flex align-center">
        <v-img
            alt="Tee Plus Icon"
            class="shrink mr-2"
            contain
            src="favicon.svg"
            transition="scale-transition"
            width="40"
        />
        <h1 style="font-weight: bold;font-size: 35px">Teeplus</h1>
      </div>

      <v-spacer></v-spacer>
      <v-menu
          v-if="this.$store.getters.IsLoggedIn"
          bottom
          left
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
              icon
              v-bind="attrs"
              v-on="on"
          >
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item>
            <v-list-item-title @click="logout" style="cursor: pointer">Logout</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
      <v-btn v-if="!this.$store.getters.IsLoggedIn" class="mr-4"
             style="background-color: #3F3F3F" @click="changeRout">
        {{ currentRouteName === 'Login' ? 'Signup' : 'Login' }}
      </v-btn>
      <v-btn
          href="https://teeplus.co/"
          target="_blank"
          text
      >
        <span class="mr-2">Our Site Store</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>


export default {
  name: 'App',

  data: () => ({
    //
  }),
  methods: {
    logout() {
      this.$store.dispatch('logout').then(() => {
        this.$router.push({ name: "Login"})

      })
    },
    changeRout() {
      const currentRout = this.currentRouteName;
      if (currentRout === 'Login') {
        this.$router.push('signup')
      } else {

        this.$router.push('login')
      }
    }
  },
  mounted() {

  },
  computed: {
    currentRouteName() {
      return this.$route.name;
    }
  }
};
</script>
<style>
header {
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
}
</style>
