<template>
  <h1 style="text-align: center;font-size: 1300%">404</h1>
</template>

<script>
export default {
  name: "NOT_FOUND"
}
</script>

<style scoped>
.content {

  position:absolute; /*it can be fixed too*/
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;

  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width:100%;
  max-height:100%;
  overflow:auto;
}
</style>
