<template>
  <div class="container">
    <header>{{ this.$route.meta.title }}</header>
    <div style="margin-top: 50px">
      <h1>Teeplus</h1>
      <p>Welcome back! Please login to your account</p>
    </div>
    <div>
      <v-form
          ref="form"
          v-model="valid"
          lazy-validation
          @submit.prevent="submit"
      >
        <v-container justify="center">
          <v-row>
            <v-col
                cols="12"
                md="6"
            >
              <v-text-field
                  v-model="model.email"
                  :rules="emailRules"
                  label="E-mail"
                  required
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col
                cols="12"
                md="6"
            >
              <v-text-field
                  v-model="model.password"
                  :rules="passwordRules"

                  label="Password"
                  :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="show1 ? 'text' : 'password'"
                  @click:append="show1 = !show1"
                  required
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
        <v-row justify="end">
          <v-col cols="2" md="5">
            <v-btn
                class="mr-4"
                color="success"
                type="submit"
                :disabled="!valid"

            >
              Login
            </v-btn>
          </v-col>
        </v-row>
      </v-form>
    </div>
    <ContinuesAsGust/>
  </div>
</template>

<script>

import ContinuesAsGust from "@/components/ContinuesAsGust";

export default {
  name: 'LogIn',
  components: {
    ContinuesAsGust
  },
  data: () => ({
    valid: true,
    show1: false,
    model: {
      email: '',
      password: '',
    },
    emailRules: [
      v => !!v || 'E-mail is required',
      v => (v && /.+@.+/.test(v)) || 'E-mail must be valid',
    ],

    passwordRules: [
      v => !!v || 'Password is required',
    ],
  }),
  methods: {
    submit() {
      if (this.$refs.form.validate()) {
        this.$store.dispatch('login', this.model).then(() => {
          this.$router.push('/');
        })
      }
    }
  }
}
</script>
<style scoped>
.v-form {
  margin-top: 50px;
}
</style>
