<template>
  <div class="container">
    <v-row>
      <v-col cols="2"
             md="2">
        <header>{{ this.$route.meta.title }} As</header>
      </v-col>
      <v-col cols="12" md="2" style="margin-left: -60px">
        <v-select
            v-model="model.typeSelect.id"
            :items="userTypes"
            item-text="name"
            item-value="id"
            :rules="userTypesRules"
            label="User Type"
            required
        >
        </v-select>
      </v-col>

    </v-row>


    <v-form
        ref="form"
        v-model="valid"
        lazy-validation
        @submit.prevent="submit"
    >
      <v-container justify="center">
        <v-row>
          <v-col
              cols="12"
              md="6"
          >
            <v-text-field
                v-model="model.email"
                :rules="emailRules"
                label="E-mail"
                required
            ></v-text-field>
          </v-col>

          <v-col
              cols="12"
              md="6"
          >
            <v-text-field
                v-model="model.name"
                :rules="nameRules"
                label="name"
                required
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col
              cols="12"
              md="6"
          >
            <v-text-field
                v-model="model.password"
                :rules="passwordRules"
                label="Password"
                :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                :type="show1 ? 'text' : 'password'"
                @click:append="show1 = !show1"
                required
            ></v-text-field>
          </v-col>
          <v-col
              cols="12"
              md="6"
          >
            <v-select
                v-model="model.select.id"
                :items="countries"
                item-text="name"
                item-value="id"
                :rules="countriesRules"
                label="Country"
                required
            >
            </v-select>
          </v-col>
        </v-row>
      </v-container>
      <v-row justify="end">
        <v-col cols="2" md="3">
          <v-btn
              class="mr-4"
              color="success"
              type="submit"
              :disabled="!valid"
          >
            Signup
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
    <ContinuesAsGust/>
  </div>

</template>

<script>

import ContinuesAsGust from "@/components/ContinuesAsGust";

export default {
  name: "SignUp",
  components:{
    ContinuesAsGust
  },

  data: () => ({
    valid: true,
    show1: false,
    model: {
      name: '',
      email: '',
      password: '',
      typeSelect: {id: 1},
      select: {id: 1},
    },

    nameRules: [
      v => !!v || 'Name is required',
      v => (v && v.length <= 30) || 'Name must be less than 30 characters',
    ],

    emailRules: [
      v => !!v || 'E-mail is required',
      v => (v && /.+@.+/.test(v)) || 'E-mail must be valid',
    ],

    passwordRules: [
      v => !!v || 'Password is required',
      v => (v && v.length <= 30) || 'Password must be less than 30 characters',
    ],

    countries: [{id: 1, name: 'syria'}, {id: 2, name: 'egypt'}, {id: 3, name: 'UAE'}, {id: 4, name: 'lebanon'}],
    countriesRules: [v => !!v || 'Country Is Required'],

    userTypes: [{id: 1, name: 'User'}, {id: 2, name: 'Actor'}],
    userTypesRules: [v => !!v || 'Type Is Required'],
  }),
  methods: {

    submit() {

      if (this.$refs.form.validate()) {
        console.log('model')
        console.log(this.model);
        // eslint-disable-next-line no-unused-vars
        const {select,typeSelect, ...payload} = this.model;
        payload.countryId = this.model.select.id;
        payload.type=this.model.typeSelect.id;
        this.$store.dispatch('signup', payload).then(() => {
          this.$router.push('/home');
        });
      }
    },
  },
  mounted() {
    this.$store.state.adminService.get('countries').then(res=>{
      this.countries=res.data.data;
    })
  }
}

</script>

<style scoped>
.v-form {
  margin-top: 50px;
}


</style>
